header {
  background: #263238;
  height: 90vh;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h2 {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 700;
}

header a {
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  color: whitesmoke;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.582);
  padding: 10px;
  border-radius: 10px;
  transition: all .25s ease-in-out;
}

header a:hover {
  border: 1px solid whitesmoke;

}